.jumbotrom{
    background-color:navajowhite;
    color: black;
}
footer{
    padding: 10px 10px 0 10px;
    background-color:navajowhite;
    margin-bottom: 0px;
    margin-top: 20px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
width: 100%;
background-color:rgb(243, 243, 205);
color: rgb(241, 7, 171);
}